<div class="container">

	<div class="row center-block">
	{{!-- Left panel to Devour Tacos!!! --}}
		<section class="col-sm-6 center-block text-center">
			{{#each tacos}}
				{{#unless this.devoured}}
				<div>
					<h3>{{this.taco_name}}</h3>

					<form action="/eatTaco" method="POST">
						<input type="hidden" name="tacoID" value={{this.id}}>
						<button type="submit">Devour It!</button>
					</form>
				</div>
				{{/unless}}
			{{/each}}	
		</section>
	{{!-- Right panel to list devoured Tacos!!!	 --}}
		<section class="col-sm-6 center-block text-center">
			{{#each tacos}}
				{{#if this.devoured}}
				<div>
					<h4>{{this.taco_name}}</h4>
				</div>
				{{/if}}
			{{/each}}	
		</section>
	</div>
	
	{{!-- Submission Form --}}
	<div class="row">
		<section class="col-sm-12 center-block text-center">
			<form class="create-update-form" action="/" method="POST">
				<div class="form-group">
					<input type="text" id="ta" name="taco">
					<button type="submit">Submit</button>
					<label for="ta">Enter a taco you want to eat! Click the "Submit" button</label>
				</div>
			</form>
		</section>
	</div>
</div>