<div class="container">

	{{!-- TACO IMAGE --}}
	<div class="row center-block col-sm-12">
		<img src="../assets/img/taco.png">
	</div>
	
	{{!-- TITLE --}}
	<div class="row center-block text-center">
		<h1>Eat-da-Taco!</h1>
	</div>

	<div class="row center-block">
	{{!-- Left panel to Devour Tacos!!! --}}
		<section class="col-sm-6 center-block text-center">
			{{#each taco}}
				{{#unless this.devoured}}
				<div>
					{{this.taco_name}}

					<form action="/eatTaco" method="POST">
						<input type="hidden" name="tacoID" value={{this.id}}>
						<button type="submit">Devour It!</button>
					</form>
				</div>
				{{/unless}}
			{{/each}}	
		</section>
	{{!-- Right panel to list devoured Tacos!!!	 --}}
		<section class="col-sm-6 center-block text-center">
			{{#each taco}}
				{{#if this.devoured}}
				<div>
					{{this.taco_name}}
				</div>
				{{/if}}
			{{/each}}	
		</section>
	</div>
	
	{{!-- Submission Form --}}
	<div class="row center-block">
		<section class="col-sm-12 center-block text-center">
			<form class="create-update-form" action="/" method="POST">
				<div class="form-group">
					<input type="text" id="ta" name="taco">
					<button type="submit">Submit</button>
					<label for="ta">Enter a taco you want to eat! Click the "Submit" button</label>
				</div>
			</form>
		</section>
	</div>
</div>